* {
  box-sizing: border-box; }

body,
html {
  background-color: #888ccc;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0;
  padding: 0;
  font-weight: 100; }

.CalculatorPanel {
  margin: 3em auto 2em auto;
  background-color: #454d59;
  box-shadow: 5px 5px 0 #2a323f;
  width: 400px; }

.header {
  padding: 10px 15px;
  color: white;
  background-color: black; }

.header h1 {
  font-size: 1.25em; }

.display {
  width: 100%;
  background-color: #9ea6b2;
  height: 100px;
  display: flex;
  font-size: 3em;
  text-align: right; }

.result {
  width: 100%;
  padding: 20px;
  background-color: #d5dfef; }

.buttons {
  display: flex;
  flex-wrap: wrap; }

.button {
  width: 100px;
  height: 100px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }

.button.num {
  background-color: #9ea6b2;
  color: white; }

.button.num.wide {
  width: 200px; }

.button.control {
  background-color: red;
  color: white; }

.button.operator {
  background-color: black;
  color: white; }

.button:hover {
  transition: .25s; }

.button.num:hover {
  background-color: #828c9b; }

.button.control:hover {
  background-color: #cc0000; }

.button.operator:hover {
  background-color: #1a1a1a; }

.button {
  width: 100px;
  height: 100px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }
